SECRET_KEY=ganti-dengan-rangkaian-karakter-acak-yang-panjang
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti-password-admin
ADMIN_FULL_NAME=Administrator
FLASK_DEBUG=0
FLASK_HOST=0.0.0.0
FLASK_PORT=5050
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=intel_dashboard
INTELIZ_BROWSER_HEADLESS=1
INTELIZ_BROWSER_SLOW_MO=0
# CHROME_EXECUTABLE=C:\Program Files\Google\Chrome\Application\chrome.exe
