<option value="Ds.1">Ds.1 — Penyusunan Program, Laporan dan Penilaian</option>
<option value="Ds.2">Ds.2 — Tata Usaha</option>
<option value="Ds.3">Ds.3 — Keuangan</option>
<option value="Dip.1">Dip.1 — Ideologi</option>
<option value="Dip.2">Dip.2 — Politik</option>
<option value="Dip.3">Dip.3 — Pertahanan dan Keamanan</option>
<option value="Dip.4">Dip.4 — Cegah Tangkal, Pengawasan Orang Asing, Pengamanan Sumber Daya Organisasi Kejaksaan dan Pengamanan Penanganan Perkara</option>
<option value="Dsb.1">Dsb.1 — Peredaran Barang Cetakan dan Media Komunikasi</option>
<option value="Dsb.2">Dsb.2 — Aliran Kepercayaan Masyarakat dan Aliran Keagamaan serta Pencegahan Penyalahgunaan dan Penodaan Agama</option>
<option value="Dsb.3">Dsb.3 — Budaya dan Kemasyarakatan</option>
<option value="Dsb.4">Dsb.4 — Sosial, Ketertiban dan Ketentraman Umum, Pembinaan Masyarakat Taat Hukum (Binmatkum)</option>
<option value="Dek.1">Dek.1 — Keuangan dan Kekayaan Negara</option>
<option value="Dek.2">Dek.2 — Investasi dan Penerimaan Negara</option>
<option value="Dek.3">Dek.3 — Perdagangan, Perindustrian dan Ketenagakerjaan</option>
<option value="Dek.4">Dek.4 — Sumber Daya Alam dan Agraria atau Tata Ruang</option>
<option value="Dpp.1">Dpp.1 — Pengamanan Pembangunan Infrastruktur Transportasi dan Telekomunikasi</option>
<option value="Dpp.2">Dpp.2 — Pengamanan Pembangunan Infrastruktur Pengairan, Pertanian dan Kelautan</option>
<option value="Dpp.3">Dpp.3 — Pengamanan Pembangunan Infrastruktur Energi, Sumber Daya Alam dan Ilmu Pengetahuan dan Teknologi</option>
<option value="Dpp.4">Dpp.4 — Pengamanan Pembangunan Infrastruktur Kawasan dan Sektor Strategis Lainnya</option>
<option value="Dti.1">Dti.1 — Produksi Intelijen</option>
<option value="Dti.2">Dti.2 — Pemantauan</option>
<option value="Dti.3">Dti.3 — Pengamanan Informasi</option>
<option value="Dti.4">Dti.4 — Pengembangan Sumber Daya Teknologi Informasi</option>
