<option value="1">I - Ideologi, Politik, Hankam - Pengamanan Pancasila</option>
<option value="2">I - Ideologi, Politik, Hankam - Persatuan dan Kesatuan Bangsa</option>
<option value="3">I - Ideologi, Politik, Hankam - Gerakan Separatis</option>
<option value="4">I - Ideologi, Politik, Hankam - Penyelenggaraan Pemerintahan</option>
<option value="5">I - Ideologi, Politik, Hankam - Partai Politik, Pemilu, Pilkada</option>
<option value="6">I - Ideologi, Politik, Hankam - Gerakan Terorisme &amp; Radikalisme</option>
<option value="7">I - Ideologi, Politik, Hankam - Pengawasan Wilayah Teritorial</option>
<option value="8">I - Ideologi, Politik, Hankam - Kejahatan Siber</option>
<option value="9">I - Ideologi, Politik, Hankam - Cekal</option>
<option value="10">I - Ideologi, Politik, Hankam - Pengawasan Orang Asing</option>
<option value="11">I - Ideologi, Politik, Hankam - Pengamanan Sumber Daya Organisasi Kejaksaan</option>
<option value="12">I - Ideologi, Politik, Hankam - Pengamanan Penanganan Perkara</option>
<option value="13">II - Sosbud - Pengawasan Peredaran Barang Cetakan Dalam Negeri</option>
<option value="14">II - Sosbud - Pengawasan Peredaran Import Barang Cetakan Dalam Negeri</option>
<option value="15">II - Sosbud - Pengawasan Sistem Perbukuan</option>
<option value="16">II - Sosbud - Pengawasan Media Komunikasi</option>
<option value="17">II - Sosbud - Pengawasan Aliran Kepercayaan dan Keagamaan Dalam Masyarakat</option>
<option value="18">II - Sosbud - Pencegahan Penyalahgunaan dan/atau Penodaan Agama</option>
<option value="19">II - Sosbud - Ketahanan Budaya</option>
<option value="20">II - Sosbud - Pemberdayaan Masyarakat Desa</option>
<option value="21">II - Sosbud - Pengawasan Organisasi Masyarakat dan Lembaga Swadaya Masyarakat</option>
<option value="22">II - Sosbud - Pencegahan Konflik Sosial</option>
<option value="23">II - Sosbud - Ketertiban dan Ketentraman Umum</option>
<option value="24">II - Sosbud - Pembinaan Masyarakat Taat Hukum</option>
<option value="25">III - EkMon - Lembaga Keuangan</option>
<option value="26">III - EkMon - Keuangan Negara</option>
<option value="27">III - EkMon - Moneter</option>
<option value="28">III - EkMon - Penelusuran Aset</option>
<option value="29">III - EkMon - Investasi/Penanaman Modal</option>
<option value="30">III - EkMon - Perpajakan</option>
<option value="31">III - EkMon - Kepabeanan</option>
<option value="32">III - EkMon - Cukai</option>
<option value="33">III - EkMon - Perdagangan</option>
<option value="34">III - EkMon - Perindustrian</option>
<option value="35">III - EkMon - Ketenagakerjaan</option>
<option value="36">III - EkMon - Perkebunan</option>
<option value="37">III - EkMon - Kehutanan</option>
<option value="38">III - EkMon - Lingkungan Hidup</option>
<option value="39">III - EkMon - Perikanan</option>
<option value="40">III - EkMon - Agraria/Tata Ruang</option>
<option value="41">IV - PPS - Infrastruktur Jalan</option>
<option value="42">IV - PPS - Infrastruktur Perkeretaapian</option>
<option value="43">IV - PPS - Infrastruktur Kebandarudaraan</option>
<option value="44">IV - PPS - Infrastruktur Telekomunikasi</option>
<option value="45">IV - PPS - Infrastruktur Kepelabuhanan</option>
<option value="46">IV - PPS - Smelter</option>
<option value="47">IV - PPS - Infrastruktur Pengolahan Air</option>
<option value="48">IV - PPS - Tanggul</option>
<option value="49">IV - PPS - Bendungan</option>
<option value="50">IV - PPS - Pertanian</option>
<option value="51">IV - PPS - Kelautan</option>
<option value="52">IV - PPS - Ketenagalistrikan</option>
<option value="53">IV - PPS - Energi Alternatif</option>
<option value="54">IV - PPS - Minyak &amp; Gas Bumi</option>
<option value="55">IV - PPS - Ilmu Pengetahuan dan Teknologi</option>
<option value="56">IV - PPS - Perumahan</option>
<option value="57">IV - PPS - Pariwisata</option>
<option value="58">IV - PPS - Kawasan Industri Prioritas/Kawasan Ekonomi Khusus</option>
<option value="59">IV - PPS - Pos Lintas Batas Negara &amp; Sarana Penunjang</option>
<option value="60">IV - PPS - Sektor Lainnya</option>
<option value="61">V - Teknologi &amp; Produk - Produksi Intelijen</option>
<option value="62">V - Teknologi &amp; Produk - Pemantauan</option>
<option value="63">V - Teknologi &amp; Produk - Intelijen Sinyal</option>
<option value="64">V - Teknologi &amp; Produk - Intelijen Siber</option>
<option value="65">V - Teknologi &amp; Produk - Klandestine</option>
<option value="66">V - Teknologi &amp; Produk - Digital Forensik</option>
<option value="67">V - Teknologi &amp; Produk - Transmisi Berita Sandi</option>
<option value="68">V - Teknologi &amp; Produk - Kontra Penginderaan</option>
<option value="69">V - Teknologi &amp; Produk - Audit &amp; Pengujian Sistem Keamanan Informasi</option>
<option value="70">V - Teknologi &amp; Produk - Pengamanan Sinyal</option>
<option value="71">V - Teknologi &amp; Produk - Pengembangan SDM &amp; Sandi</option>
<option value="72">V - Teknologi &amp; Produk - Pengembangan SDM Intelijen Lainnya</option>
<option value="73">V - Teknologi &amp; Produk - Pengembangan Teknologi</option>
<option value="74">V - Teknologi &amp; Produk - Pengembangan Prosedur &amp; Aplikasi</option>
